obRpMKjYNUy43wnq-Gold_Version.json
{
  "name": "Gold Version",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant that uses the searches the internet to find the annual revenue of a company based on the user's query. You classify the company as \"Scarlet\" if revenue is equal to or over $1B. You classify the company as \"Violet\" if revenue is less than $1B. If no information is found, ask the user to try again in a humerus tone."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        -16
      ],
      "id": "ef49f915-ace3-4c81-883e-44533a1ce0e2",
      "name": "AI Agent",
      "notes": "I am a helpful agent. I search for Annaul Revenue based on the \"Company name\""
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -336,
        192
      ],
      "id": "dd5673d6-6019-4e45-b056-153fe4e7fd40",
      "name": "OpenAI Chat Model",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "OngWXl8hiD3VVdF8",
          "name": "OpenAi account 3"
        }
      },
      "notes": "I am a helpful assistant. I have access to Open API and SerpAPI. I use the chat input to search for a company name to find annual revenue. If the revenue is above $1B, I classify them as Scarlet. If the revenue is below $1B, I classify them as Violet."
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatInput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        192
      ],
      "id": "d09d6779-aa4c-4dec-a153-c4ac7e2fc8bf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -48,
        192
      ],
      "id": "db2c340c-ff29-427b-8b4e-ed23139b86a0",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "H9QkVnJHIl4My8P5",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nWhat company are you searching for today?",
        "options": {
          "inputPlaceholder": "ex. Nike"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -16
      ],
      "id": "b4c0db36-cf91-4012-b86c-1efd3d1c837c",
      "name": "When chat message received",
      "webhookId": "98995f03-14f9-4025-9c1b-fde2f3d6cef7"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}